@using Domain.Model
<div class="col">
  <div class="card border-0 @(IsPlaylistView ? "video-card-playlist" : "video-card")">
    <div class="gap-3 card-body d-flex justify-content-between video-card-body">
      <VideoPlayer HasControls="@false" OnHoverPlayback="@true" Sources="@Sources" DefaultSource="@Sources[0]" />
      <div class="d-inline-flex">
        <div class="creator-icon">
          <img src="@CreatorIconLink" alt="CreatorIconLink">
        </div>
        <div class="ms-3 d-flex flex-column">
          <p class="fs-5 mb-1">@Title</p>
          <p class="small mb-0">@Creator</p>
          <p class="small mb-0 text-body-secondary">20 hours ago</p>
        </div>
      </div>
    </div>
  </div>  
</div>
@code {
  [Parameter]
  public string Title { get; set; }
  string Creator = "Linus Tech Tips";
  string CreatorIconLink = "/favicon.png";
  [Parameter]
  public bool IsPlaylistView { get; set; }

  private List<VideoSource> Sources = new List<VideoSource>()
  {
    new VideoSource() { Resolution = "1080p", Src = "video/elephants2.mp4", Type = "video/mp4" },
    new VideoSource() { Resolution = "720p", Src = "video/elephants2.mp4", Type = "video/mp4" },
    new VideoSource() { Resolution = "360p", Src = "video/elephants2.mp4", Type = "video/mp4" },
  };

}